<!DOCTYPE html>
<html lang="en">

{{ head }}

<body>

  {{ navbar }}

  <div class="post">
    <h2>contact</h2>
    <p>
      Mauris sagittis ante neque, in ullamcorper leo tincidunt id. Nam accumsan augue eget urna faucibus, a tempus leo rutrum. Nulla quis ullamcorper arcu, nec hendrerit turpis. Sed elementum tempor odio id lobortis. Sed suscipit, ante id posuere eleifend, lorem nulla semper est, eu dignissim dui augue at magna. Donec imperdiet est at dolor molestie consequat. Quisque mi tellus, iaculis sit amet sem at, consectetur luctus dui. Nulla ac turpis in massa auctor bibendum a id neque.

      Nulla ac tempor ipsum, vel pellentesque justo. Donec in dapibus purus. Aliquam ultrices massa scelerisque nunc aliquam, sit amet pellentesque sem pharetra. Integer iaculis orci tincidunt neque vestibulum, vel vehicula tellus sodales. Pellentesque lobortis lacus nec euismod laoreet. Integer euismod ipsum ut dui hendrerit, quis egestas turpis facilisis. Morbi venenatis convallis augue sit amet gravida. Aenean id ipsum viverra, blandit tellus ac, dignissim lacus. Sed vel risus tortor. Morbi id bibendum risus. 
    </p>
  </div>

</body>
</html>
